{% extends "base_generic.html" %}

{% block content %}
    <h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>
    {{ author.date_of_birth }} - {{ author.date_of_death }}

    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>
        {% for book in author.book_set.all %}
            <hr>
            <a href="{% url 'book-detail' pk=book.pk %}"><p><b>{{ book.title }}</b></p></a>
            <p>{{ book.summary }}</p>
        {% endfor %}
    </div>
{% endblock %}