{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>

    {% if author_list %}
        <ul>

            {% for author in author_list %}
                <li>
                    <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a> ({{ author.date_of_birth }} - {{ author.date_of_death }})
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}